* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.product-filter {
  padding: 25px;
  display: flex;
}

.product-filter h1 {
  font-size: 200%;
  flex-grow: 1;
}

.sort {
  display: flex;
  gap: 10px;
}

.collection-sort {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

select {
  border: none;
  font-weight: bold;
}

.products {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid rgb(246, 241, 241);
  padding: 2%;
  flex: 1 16%;
  display: flex;
  flex-direction: column;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  margin-top: auto;
  text-align: center;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 25%;
  }
}

.products .product-card:first-child,
.products .product-card:nth-child(2) {
  flex: 2 50%;
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 50%;
  }
}

@media (max-width: 380px) {
  .product-filter {
    flex-direction: column;
  }
  .sort {
    margin-top: 15px;
  }
}